@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
#parte1{
    background-color: rgb(0, 0, 0);
    height: 95px;
    width: 100%;
    display: flex;
}

.menu {
    
    width: 100%;
    margin-bottom: 4%;
    position: relative;
    animation-name: animacao-menu;
    animation-duration: 1s;
}
.infologo{
    width: 40%;
}
.botoes > a {
    padding: 20px;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: lowercase;

    
    
}
.botoes > a:hover {
    font-size: 1.2rem;
    
}

header{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    height: 60px;
}
.rodape {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.flexrodape{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.unologo{
    width: 150px;

}

.unologofipp{
    width: 120px;

}

body{
    margin: 0 auto;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #000000;
    background-image: linear-gradient(-45deg, #5317b4d7 0%, #5317b4d8 25%, #5317b479 51%, #52d1dd 100%);
    background-size: 300% 300%;
    animation: AnimateBG 30s ease infinite;

}
@keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
#palss{
    width: 100%;
    display: flex;
    height: 1100px;
   

}
#cursos{
    width: 100%;
    display: flex;
    height: 1100px;
    background-color: white;
}
#palas{
    justify-content: center;
    align-items:center;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
.areasfiguras {
    width: 100%;
    height: 1100px;
    display: flex;
    justify-content: space-between; 
}

.capacapa {
    padding: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 20px;
    width: 150px;
    height: 970px;
    margin-right: 10px; 
    margin-top: 30px;
    transition: transform 0.9s ease;
}
.capacapa:hover {
    transform: translateY(-30px);
}
.ccnty{
    margin-left: 20px;
    margin-right: 20px;
}
.fontepequena{
    font-size: small;
}
.tituloDoTipo{
    text-align: center;
    font-size: 50px;
}
#rodape{
    background-color: rgb(0, 0, 0);
    height: 85px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}